# Airflow
AIRFLOW_UID=1000
FERNET_KEY=replace_me
AIRFLOW__API_AUTH__JWT_SECRET=replace_me

AIRFLOW_ADMIN_USER=airflow
AIRFLOW_ADMIN_PASSWORD=replace_me

# Airflow metadata database
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=replace_me
AIRFLOW_DB_NAME=airflow

# Data warehouse
DATA_DB_USER=weather_user
DATA_DB_PASSWORD=replace_me
DATA_DB_NAME=weather
DATA_DB_HOST_PORT=5433